{{include './header.ejs' data}}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="../static/js/plupload.full.min.js"></script>

</head>

<style>
        .my_drag_area {
           width: 100%;
           height: 500px;
       }
</style>

<body>
    <div class="container">

       {{include './menu.html' data}}

    <div class="modal fade" tabindex="-1" role="dialog" id="uploaded_modal">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="file_name"></h5>
                </div>
                <div class="modal-body">
                    <p>The progress of upload:</p>
                    <p>
                        
        <div class="progress">
                <div id="uploading_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
            </div>

                    </p>
                    
                    <p>The progress of segmentation:</p>
                    <p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" id="segmentation_progress"></div>
                        </div>

                    </p>


                    <p id="my_video_link" class="text-right d-none">
                        <span>The file has been uploaded. Enjoy your movie meme:</span>
                        <!--<a href="/home/my_video">Your Video Meme</a>-->
                        <a href="/home/vid_listing" style="color: white; font-weight:bold;">Your Video Meme</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card text-white drag-info">
                <div class="card-body  my_drag_area" id="drag-area">
                    <h1 class="card-title text-center mb-5 " style="margin-top:30%;">Please drag a video on it.</h1>
                    <p class="card-text lead text-center">
                        Please make sure that you use a modern browser.
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center" style="margin-top:5%;">
            <div class="col-2">
                <input type="button" class="btn btn-primary" value="or by selecting a File" id="browse">
            </div>
        </div>
     
    </div>
    
    <script src="/static/js/upload_file.js?{{timestamp}}"></script>

 {{include './footer.ejs' data}}